<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SBTProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A57BA45A20024A1600AA182D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A57BA47520024A1600AA182D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A57BA48020024A1600AA182D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
